/* Apply styles to a scoped button class */
.button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 10px 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  .deleteButton {
    background-color: #dc3545;
  }
  
  .deleteButton:hover {
    background-color: #a71d2a;
  }
  
  .farmerForm {
    padding: 20px;
    margin: auto;
    margin-top:20px;
    margin-bottom:20px;
    max-width: 500px;
    background-color: #d0dfbe;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .detailsCard {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #fff;
  }
  
  .editForm input,
  .produceRow input {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .produceRow {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .removeButton {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .actions {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
  }
  